@charset "UTF-8";
/*CSS reset de Eric  Meyer*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

div, span {
  box-sizing: border-box; }

/*Button Color*/
/*Navigation*/
/*breadcrumb*/
/*Paginition*/
h1, h2, h3, h4, h5, h6 {
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2.25em; }

h3 {
  font-size: 2em; }

h4 {
  font-size: 1.75em; }

h5 {
  font-size: 1.50em; }

h6 {
  font-size: 1.25em; }

h1 > small, h2 > small, h3 > small, h4 > small, h5 > small, h6 > small {
  font-size: 12px;
  color: grey; }

.sub {
  font-size: 12px;
  color: grey; }

p {
  margin-bottom: 10px; }

mark {
  background-color: #CC0000; }

del {
  text-decoration: line-through; }

ins {
  text-decoration: underline; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

abbr {
  border-bottom: 1px dotted black;
  text-decoration: none; }

.lowercase {
  text-transform: lowercase; }

.uppercase {
  text-transform: uppercase; }

.justify {
  text-align: justify; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

blockquote, code {
  line-height: 1.2em;
  counter-reset: ligne;
  color: #303030; }

blockquote {
  quotes: "“" "”" "‘" "’"; }

blockquote:before {
  color: #DDDDDD;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em; }

blockquote, code, .result {
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 4px;
  padding-right: 4px;
  display: block;
  border-radius: 0.2em;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); }

.result:before {
  content: "Result:";
  display: block;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd; }

blockquote .author {
  width: 100%;
  padding-right: 10px;
  text-align: right; }

blockquote :before {
  content: "- "; }

code span {
  display: block;
  white-space: pre-wrap; }

code span:before {
  border-right: 1px solid #ddd;
  display: inline-block;
  counter-increment: ligne;
  content: counter(ligne);
  margin-right: 5px;
  padding-right: 5px; }

pre {
  width: 99%;
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */ }

kbd {
  color: #252525;
  font-size: 0.8em;
  padding: 2px;
  line-height: 2.5em;
  background-color: #FFFFFF;
  border-top: solid 1px #CCC;
  border-right: solid 2px #AAA;
  border-bottom: solid 3px #999;
  border-left: solid 2px #BBB;
  border-radius: 4px; }

kbd:hover {
  color: #222;
  background-color: #FAFAFA; }

kbd:active, kbd.selected {
  border-top: solid 2px #999;
  border-right: solid 2px #BBB;
  border-bottom: solid 2px #CCC;
  border-left: solid 2px #AAA; }

ul li {
  margin-left: 2em;
  display: list-item;
  list-style-type: disc; }

.ul-square li {
  list-style-type: square; }

.ul-nodecoration li, .navbar li, .breadcrumb li, .pagination li {
  list-style-type: none; }

.table {
  border-collapse: collapse;
  width: 100%; }

.table td, .table th {
  padding: 8px; }

.table th {
  font-weight: bold; }

.table-solid td, .table-solid th {
  border: 1px solid #000; }

.table-alt tr:nth-child(even) {
  background-color: #dddddd; }

.table-hover tr:hover {
  background-color: #3B95FF;
  color: white; }

/*Buttons Size*/
.btn {
  background-color: #F0F0F0;
  border: 1px solid #e1e1e1;
  color: white;
  color: black;
  line-height: 2em;
  font-size: 1em;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  border: 1px solid #bbb;
  display: inline-block;
  cursor: pointer; }
  .btn:hover, .btn:focus {
    background-color: #e3e3e3; }
  .btn:active {
    background-color: #d7d7d7; }

.btn-sm {
  font-size: 0.8em;
  line-height: 1.8em;
  padding-left: 5px;
  padding-right: 5px; }

.btn-lg {
  font-size: 1.2em;
  line-height: 2.2em;
  padding-left: 15px;
  padding-right: 15px; }

.btn-x-lg {
  width: 100%; }

/*Buttons Color*/
.btn-red {
  background-color: #C52525;
  border: 1px solid #ab2020;
  color: white; }
  .btn-red:hover, .btn-red:focus {
    background-color: #b02121; }
  .btn-red:active {
    background-color: #9a1d1d; }

.btn-yellow {
  background-color: #BBAD0D;
  border: 1px solid #9e930b;
  color: white; }
  .btn-yellow:hover, .btn-yellow:focus {
    background-color: #a3970b; }
  .btn-yellow:active {
    background-color: #8b810a; }

.btn-green {
  background-color: #2FA242;
  border: 1px solid #288a38;
  color: white; }
  .btn-green:hover, .btn-green:focus {
    background-color: #298e3a; }
  .btn-green:active {
    background-color: #247a32; }

.btn-blue {
  background-color: #3A49C1;
  border: 1px solid #3340a9;
  color: white; }
  .btn-blue:hover, .btn-blue:focus {
    background-color: #3442ad; }
  .btn-blue:active {
    background-color: #2e3a9a; }

.btn-flat {
  border: none;
  border-radius: 0px; }

.btn-fancy {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)); }

.header {
  display: flex;
  width: 100%;
  background-color: #E5E5E5;
  padding-top: 30px;
  padding-left: 30px;
  align-items: flex-end;
  padding-bottom: 50px; }
  .header small {
    margin-left: 5px; }

.jumbotron {
  width: 100%;
  background-color: #E5E5E5;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px; }
  .jumbotron h1 {
    margin-bottom: 20px; }
  .jumbotron button {
    margin-top: 20px; }

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: #E5E5E5;
  width: 100%;
  min-height: 50px;
  line-height: 50px; }
  .navbar li {
    padding-left: 1em;
    padding-right: 1em;
    margin: 0;
    border-bottom: 1px solid #b2b2b2;
    text-align: center; }
    .navbar li:hover {
      background-color: #b2b2b2; }
  .navbar .active {
    border-left: solid 4px #666666; }
  .navbar a {
    text-decoration: none;
    color: #000000; }
  @media screen and (min-width: 400px) {
    .navbar {
      flex-direction: row;
      justify-content: space-around; }
      .navbar li {
        border-bottom: none; }
      .navbar .active {
        border-bottom: solid 4px #666666;
        border-left: none; } }
  @media screen and (min-width: 400px) and (min-width: 900px) {
    .navbar {
      justify-content: flex-end; } }

.breadcrumb {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-color: #E5E5E5;
  border: 1px solid #b2b2b2;
  color: #404040; }
  .breadcrumb li {
    margin: 0; }
  .breadcrumb li:after {
    content: ">"; }

.pagination {
  vertical-align: top;
  display: inline-flex; }
  .pagination li {
    padding: 10px;
    margin: 0;
    background-color: #E5E5E5; }
    .pagination li:hover {
      background-color: #cccccc; }
  .pagination .active {
    background-color: #b2b2b2;
    color: white; }

/*# sourceMappingURL=eCSSpress.css.map */
