/*======================================*/
/*=              Colors                =*/
/*======================================*/
/*Default color*/
/*======================================*/
/*=              Buttons               =*/
/*======================================*/
/*Color*/
/*Size*/
/*======================================*/
/*=       Code, quotes, kbd            =*/
/*======================================*/
/*codes*/
/*quotes*/
/*result*/
/*kbd*/
/*======================================*/
/*=             Components             =*/
/*======================================*/
/*Header*/
/*Jumbotron*/
/*Progressionbar*/
/*timeline*/
/*======================================*/
/*=             Grids                  =*/
/*======================================*/
/*Grids*/
/*======================================*/
/*=             Listes                 =*/
/*======================================*/
/*Listes*/
/*======================================*/
/*=              Navigation            =*/
/*======================================*/
/*Navbar*/
/*Breadcrumb*/
/*Paginition*/
/*======================================*/
/*=              Tables                =*/
/*======================================*/
/*Table*/
/*======================================*/
/*=              Tables                =*/
/*======================================*/
/*Titres*/
/*Sous titres*/
/*Paragraphes*/
/*Mark*/
#container {
  margin: 0 auto;
  width: 85%; }

section {
  margin-bottom: 100px; }

#flex-grids .row-float, #flex-grids .row-flex, #float-grids .row-float, #float-grids .row-flex {
  background-color: #E5E5E5; }
#flex-grids .span-1-flex, #flex-grids .span-1-float, #float-grids .span-1-flex, #float-grids .span-1-float {
  background-color: grey;
  color: white; }
#flex-grids .span-2-flex, #flex-grids .span-2-float, #float-grids .span-2-flex, #float-grids .span-2-float {
  background-color: grey;
  color: white; }
#flex-grids .span-3-flex, #flex-grids .span-3-float, #float-grids .span-3-flex, #float-grids .span-3-float {
  background-color: grey;
  color: white; }
#flex-grids .span-4-flex, #flex-grids .span-4-float, #float-grids .span-4-flex, #float-grids .span-4-float {
  background-color: grey;
  color: white; }
#flex-grids .span-5-flex, #flex-grids .span-5-float, #float-grids .span-5-flex, #float-grids .span-5-float {
  background-color: grey;
  color: white; }
#flex-grids .span-6-flex, #flex-grids .span-6-float, #float-grids .span-6-flex, #float-grids .span-6-float {
  background-color: grey;
  color: white; }
#flex-grids .span-7-flex, #flex-grids .span-7-float, #float-grids .span-7-flex, #float-grids .span-7-float {
  background-color: grey;
  color: white; }
#flex-grids .span-8-flex, #flex-grids .span-8-float, #float-grids .span-8-flex, #float-grids .span-8-float {
  background-color: grey;
  color: white; }
#flex-grids .span-9-flex, #flex-grids .span-9-float, #float-grids .span-9-flex, #float-grids .span-9-float {
  background-color: grey;
  color: white; }
#flex-grids .span-10-flex, #flex-grids .span-10-float, #float-grids .span-10-flex, #float-grids .span-10-float {
  background-color: grey;
  color: white; }
#flex-grids .span-11-flex, #flex-grids .span-11-float, #float-grids .span-11-flex, #float-grids .span-11-float {
  background-color: grey;
  color: white; }
#flex-grids .span-12-flex, #flex-grids .span-12-float, #float-grids .span-12-flex, #float-grids .span-12-float {
  background-color: grey;
  color: white; }

/*# sourceMappingURL=index.css.map */
