@mixin colorizeButton($color) {
    background-color: $color;
    border: 1px solid darken($color,6);
    color:$white;
    &:hover,&:focus {background-color: darken($color,5);}
    &:active{background-color: darken($color,10);}
}




/*Buttons Size*/
.btn{
	@include colorizeButton($lightGrey);
	line-height: 2em;
	font-size: 1em;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
	border: 1px solid #bbb;
	color: #303030;
	display: inline-block;
	cursor: pointer;
}
.btn-sm{
	font-size: 0.8em;
	line-height: 1.8em;
	padding-left: 5px;
	padding-right: 5px;
}
.btn-lg{
	font-size: 1.2em;
	line-height: 2.2em;
	padding-left: 15px;
	padding-right: 15px;
}

.btn-x-lg{
	width: 100%;
}



/*Buttons Color*/
.btn-red{@include colorizeButton($red);}
.btn-yellow{@include colorizeButton($yellow);}
.btn-green{@include colorizeButton($green);}
.btn-blue{@include colorizeButton($blue);}

.btn-flat{
	border: none;
	border-radius: 0px;
}

.btn-fancy{
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
	background-image: -webkit-linear-gradient(top,rgba(0,0,0,0.1),rgba(0,0,0,0.4));
}