
/*Buttons Color*/
.btn{@include colorizeButton($buttonNormalBackground,$buttonNormalColor);}
.btn-red{@include colorizeButton($buttonRedBackground,$buttonRedColor);}
.btn-yellow{@include colorizeButton($buttonYellowBackground,$buttonYellowColor);}
.btn-green{@include colorizeButton($buttonGreenBackground,$buttonGreenColor);}
.btn-blue{@include colorizeButton($buttonBlueBackground,$buttonBlueColor);}



/*Buttons Size*/
.btn-sm{
	font-size: $btn-sm-size;
	line-height: $btn-sm-lineHeight;
	padding-left: $btn-sm-paddingLeft;
	padding-right: $btn-sm-paddingRight;
}
.btn-lg{
	font-size:$btn-lg-size;
	line-height:$btn-lg-lineHeight;
	padding-left:$btn-lg-paddingLeft;
	padding-right:$btn-lg-paddingRight;
}

.btn-x-lg{
	width: $btn-x-lg-width;
}


/*Buttons Style*/
.btn-flat{
	border: none;
	border-radius: 0px;
}

.btn-fancy{
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
	background-image: -webkit-linear-gradient(top,rgba(0,0,0,0.1),rgba(0,0,0,0.4));
}
