

blockquote,code{
	line-height: 1.2em;
	counter-reset: ligne;
	color: #303030;
}
blockquote{quotes: "\201C""\201D""\2018""\2019";}
blockquote:before {
	color: #DDDDDD;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}
blockquote,code,.result{
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 4px;	
	padding-right: 4px;	
	display: block;
	border-radius: 0.2em;
	border: 1px solid #ddd;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.result:before{
	content: "Result:";
	display:block;
	margin-bottom:10px;
	border-bottom: 1px solid #ddd;
}
blockquote .author{
	width: 100%;
	padding-right: 10px;
	text-align: right;
}
blockquote :before{
	content: "- ";
}

code span{
	display: block;
}
code span:before {
	border-right: 1px solid #ddd;
	display: inline-block;
	counter-increment: ligne;
	content: counter(ligne);
	margin-right: 5px;
	padding-right: 5px;
}
pre {
	width: 99%;                white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */   
}
kbd {
    color: #252525;
    font-size: 0.8em;
    padding: 2px;
    line-height: 2.5em;
    background-color: #FFFFFF;
    border-top: solid 1px #CCC;
    border-right: solid 2px #AAA;
    border-bottom: solid 3px #999;
    border-left: solid 2px #BBB;
    border-radius: 4px;
}

kbd:hover {
    color: #222;
    background-color: #FAFAFA;
}
kbd:active, kbd.selected {
    border-top: solid 2px #999;
    border-right: solid 2px #BBB;
    border-bottom: solid 2px #CCC;
    border-left: solid 2px #AAA;
}


