$defaultLightBackgroundColor:#E5E5E5 !default;
$white:rgb(255,255,255) !default;



/*Button Color*/
$buttonDefault:#F0F0F0 !default;
$buttonRed:rgb(230,0,0) !default;
$buttonGreen:rgb(0,179,32) !default;
$buttonBlue:rgb(65,85,222) !default;
$buttonLightGrey:#eeeeee !default;
$buttonYellow:#F2E22B !default;

/*Navigation*/
$navbarBackgroundColor: $defaultLightBackgroundColor !default;
$navbarColor: #000000 !default;


/*breadcrumb*/
$breadcrumbBackgroundColor:$defaultLightBackgroundColor !default;
$breadcrumbColor: #404040;
