$defaultLightBackgroundColor:#E5E5E5 !default;
$white:rgb(255,255,255) !default;
$grey: #797979 !default;



/*Button Color*/
$buttonDefault:#F0F0F0 !default;
$buttonRed:#C52525 !default;
$buttonGreen:#2FA242 !default;
$buttonBlue:#3A49C1 !default;
$buttonLightGrey:#eeeeee !default;
$buttonYellow:#BBAD0D !default;

/*Navigation*/
$navbarBackgroundColor: $defaultLightBackgroundColor !default;
$navbarColor: #000000 !default;


/*breadcrumb*/
$breadcrumbBackgroundColor:$defaultLightBackgroundColor !default;
$breadcrumbColor: #404040 !default;


/*Paginition*/
$paginationBackground:$defaultLightBackgroundColor !default;