

$radius:0.2em !default;
$border:1px solid #ddd !default;
$boxShadow:2px 2px 2px 1px rgba(0, 0, 0, 0.2) !default;

/*======================================*/
/*=              Colors                =*/
/*======================================*/

/*Default color*/
$red:#c81111!default;
$yellow:#c9c817!default;
$green:#2FA242!default;
$blue:#3A49C1!default;
$lightgrey:#eeeeee!default;
$white:#ffffff !default;
$black:#000000 !default;
$grey: #797979 !default;

$defaultLightBackgroundColor:#E5E5E5 !default;


/*======================================*/
/*=              Buttons               =*/
/*======================================*/

/*Color*/
$buttonNormalBackground:#F0F0F0 !default;
$buttonNormalColor:$black !default;

$buttonRedBackground:$red !default;
$buttonRedColor:$white !default;

$buttonGreenBackground:$green !default;
$buttonGreenColor:$white !default;

$buttonBlueBackground:$blue !default;
$buttonBlueColor:$white !default;

$buttonLightGreyBackground:$lightgrey !default;
$buttonLightGreyColor:$white !default;

$buttonYellowBackground:$yellow !default;
$buttonYellowColor:$white !default;


/*Size*/
$btn-sm-size:0.8em !default;
$btn-sm-lineHeight:1.8em !default;
$btn-sm-paddingLeft:5px !default;
$btn-sm-paddingRight:5px !default;

$btn-lg-size:1.2em !default;
$btn-lg-lineHeight:2.2em !default;
$btn-lg-paddingLeft: 15px !default;
$btn-lg-paddingRight: 15px !default;

$btn-x-lg-width:100% !default;





/*======================================*/
/*=              Navigation            =*/
/*======================================*/

/*Navbar*/
$navbarBackgroundColor: $defaultLightBackgroundColor !default;
$navbarColor: #000000 !default;

/*Breadcrumb*/
$breadcrumbBackgroundColor:$defaultLightBackgroundColor !default;
$breadcrumbColor: #404040 !default;

/*Paginition*/
$paginationBackground:$defaultLightBackgroundColor !default;





/*======================================*/
/*=       Code, quotes, kbd            =*/
/*======================================*/


/*codes*/
$codeColor: #303030 !default;
$codeLineHeight:1.2em;
$codeRadius:$radius !default;
$codeBorder:$border !default;
$codeBoxShadow:$boxShadow !default;

/*quotes*/
$quoteBeforeColor:#DDDDDD !default;
$quoteLineHeight:1.2em !default;
$quoteFontSize:4em !default;
$spaceBeetweenQuoteText:1rem !default;
$spaceBeetweenTextAuthor:20px !default;
$quoteRadius:$radius !default;
$quoteBorder:$border !default;
$quoteBoxShadow:$boxShadow !default;
$quoteContent:open-quote !default;

/*result*/
$resultBorder:$border !default;
$resultBoxShadow:$boxShadow !default;
$resultRadius:$radius !default;
$resultRadius:$radius !default;

/*kbd*/
$kbdBorderSize:2px !default;
$kbdLineHeight:2.4em !default;
$kbdPadding:4px !default;
$kbdColor:#252525 !default;
$kbdFontSize:0.8em !default;
$kbdBg:$white !default;
$kbdBorderColor:#999 !default;
$kbdHoverBg:#FAFAFA !default;
$kbdHoverColor:#222 !default;





/*======================================*/
/*=             Components             =*/
/*======================================*/

/*Header*/
$headerBg: $defaultLightBackgroundColor;
$headerColor:auto;
$headerSmallColor:auto;
$headerPaddingLeftRight:30px;
$headerPaddingTopBottom:30px;

/*Jumbotron*/
$jumbotronBg:$defaultLightBackgroundColor;
$jumbotronPaddingLeftRight:30px;
$jumbotronPaddingTopBottom:30px;





/*======================================*/
/*=             Grids                  =*/
/*======================================*/

/*Grids*/
$gutter: 2% !default;
$numbCol: 12 !default;
