$gutter: 2%;
$numbCol: 12;


$radius:0.2em;
$border:1px solid #ddd;
$boxShadow:2px 2px 2px 1px rgba(0, 0, 0, 0.2);

/*======================================*/
/*=              Colors                =*/
/*======================================*/

/*Default color*/
$red:#c81111!default;
$yellow:#c9c817!default;
$green:#2FA242!default;
$blue:#3A49C1!default;
$lightgrey:#eeeeee!default;
$white:#ffffff !default;
$black:#000000 !default;
$grey: #797979 !default;

$defaultLightBackgroundColor:#E5E5E5 !default;


/*======================================*/
/*=              Buttons               =*/
/*======================================*/

/*Color*/
$buttonNormalBackground:#F0F0F0 !default;
$buttonNormalColor:$black !default;

$buttonRedBackground:$red !default;
$buttonRedColor:$white !default;

$buttonGreenBackground:$green !default;
$buttonGreenColor:$white !default;

$buttonBlueBackground:$blue !default;
$buttonBlueColor:$white !default;

$buttonLightGreyBackground:$lightgrey !default;
$buttonLightGreyColor:$white !default;

$buttonYellowBackground:$yellow !default;
$buttonYellowColor:$white !default;


/*Size*/
$btn-sm-size:0.8em;
$btn-sm-lineHeight:1.8em;
$btn-sm-paddingLeft:5px;
$btn-sm-paddingRight:5px;

$btn-lg-size:1.2em;
$btn-lg-lineHeight:2.2em;
$btn-lg-paddingLeft: 15px;
$btn-lg-paddingRight: 15px;

$btn-x-lg-width:100%;





/*======================================*/
/*=              Navigation            =*/
/*======================================*/

/*Navbar*/
$navbarBackgroundColor: $defaultLightBackgroundColor !default;
$navbarColor: #000000 !default;

/*Breadcrumb*/
$breadcrumbBackgroundColor:$defaultLightBackgroundColor !default;
$breadcrumbColor: #404040 !default;

/*Paginition*/
$paginationBackground:$defaultLightBackgroundColor !default;





/*======================================*/
/*=       Code, quotes, kbd            =*/
/*======================================*/


/*codes*/
$codeColor: #303030 !default;
$codeLineHeight:1.2em;
$codeRadius:$radius;
$codeBorder:$border;
$codeBoxShadow:$boxShadow;

/*quotes*/
$quoteBeforeColor:#DDDDDD !default;
$quoteLineHeight:1.2em;
$quoteFontSize:4em;
$spaceBeetweenQuoteText:1rem;
$spaceBeetweenTextAuthor:20px;
$quoteRadius:$radius;
$quoteBorder:$border;
$quoteBoxShadow:$boxShadow;
$quoteContent:open-quote;

/*result*/
$resultBorder:$border;
$resultBoxShadow:$boxShadow;
$resultRadius:$radius;
$resultRadius:$radius;

/*kbd*/
$kbdBorderSize:2px;
$kbdLineHeight:2.4em;
$kbdPadding:4px;
$kbdColor:#252525;
$kbdFontSize:0.8em;
$kbdBg:$white;
$kbdBorderColor:#999;
$kbdHoverBg:#FAFAFA;
$kbdHoverColor:#222;
