@import "reset";
@import "colors";
@import "variables";
@import "size";
@import "grid";
@import "typos";
@import "code";
@import "lists";
@import "tables";
@import "buttons";
@import "components";
@import "navigation";


.row-float, .row-flex{
	background-color: $defaultLightBackgroundColor;
}
@for $cols from 1 through $numbCol {
	.span-#{$cols}-flex, .span-#{$cols}-float {
		background-color: grey;
		color: white;
	}
}
