@import "variables";
@import "mixins";
@import "grid";





#container{
	margin: 0 auto;
	width: 85%;
}




section{
	margin-bottom: 100px;
}


.row-float, .row-flex{
	background-color: $defaultLightBackgroundColor;
}
@for $cols from 1 through $numbCol {
	.span-#{$cols}-flex, .span-#{$cols}-float {
		background-color: grey;
		color: white;
	}
}
