@import "grid";

$defaultLightBackgroundColor:#D5D5D5;

#container{
	margin: 0 auto;
	width: 85%;
}




section{
	margin-bottom: 100px;
}




.row{
	background-color: $defaultLightBackgroundColor;
}
@for $cols from 1 through $numbCol {
	.span-#{$cols} {
		background-color: grey;
		color: white;
	}
}