@mixin colorizeButton($color) {
    background-color: $color;
    border: 1px solid darken($color,6);
    color:$white;
    &:hover,&:focus {background-color: darken($color,5);}
    &:active{background-color: darken($color,10);}
}
