@import "variables";
$widthOne: (100% - $gutter * ($numbCol - 1)) / $numbCol;
@mixin make-col-flex($cols) {
    box-sizing: border-box;
    width: $widthOne * $cols + ($cols - 1) * $gutter;
    margin-left: $gutter;

    &:first-of-type {
        margin-left: 0;
    }
}

@mixin make-offset-flex($cols) {
    margin-left: $widthOne * $cols + ($cols + 1) * $gutter;

    &:first-of-type {
        margin-left: $widthOne * $cols + $cols * $gutter;
    }
}


@mixin make-row-flex() {
    display: flex;
    flex-direction: row;
}



@mixin make-col-float($cols) {
    display: inline-block;
    float: left;
    box-sizing: border-box;
    width: $widthOne * $cols + ($cols - 1) * $gutter;
    margin-left: $gutter;

    &:first-of-type {
        margin-left: 0;
    }
}

@mixin make-offset-float($cols) {
    margin-left: $widthOne * $cols + ($cols + 1) * $gutter;

    &:first-of-type {
        margin-left: $widthOne * $cols + $cols * $gutter;
    }
}


@mixin make-row-float() {
    display: inline-block;
    clear: both;
    width: 100%;
    margin: 0;
}


