@mixin make-progressbar($color) {

	border-radius:$progressionbarRadiusExt;
	width:100%;
	padding:$progressionbarPadding;
	background-color:darken($color,7);
	& .progressionbar-status{
		background-color: lighten($color,7);
	}
}
@mixin make-progressbar-status($status) {
	width: percentage($status/100);
	height:$progressionbarHeight;
	border-radius:$progressionbarRadiusInt;
}
